.heading.mod-no-margins {
  margin: 0;
}

.heading.is-hidden {
  display: none;
}

.heading.mod-indent {
  text-indent: 2em;
}

.heading.mod-underline {
  text-decoration: underline;
}

.heading.mod-event-list {
  font-size: 2em;
}

.heading.mod-empty-event-list {
  font-size: 1.2em;
}

.heading.mod-small {
  font-size: 1.2em;
}

.heading.mod-featured-announcement {
  font-size: 1.2em;
  text-decoration: underline;
  text-align: center;
  margin-top: 0;
}
