@mixin media-column-break {
  @media (max-width: 800px) {
    @content;
  }
}

.tweets-articles-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  @include media-column-break {
    flex-direction: column;
  }
}

  .tweets-articles-container-item {
    width: 50%;
    padding: 0 15px;

    @include media-column-break {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

  .tweets-articles-container-item:last-child {
    @include media-column-break {
      margin-bottom: 0;
    }
  }
