/**********************************************/
/* Background */
.navbar {
  // Photographer: Parker Knight
  // Flickr Username: rocketboom
  // Title: Imperial Dunes California
  // Copyright: Some rights reserved
  // License: Attribution 2.0 Generic (CC BY 2.0)
  // License URL: https://creativecommons.org/licenses/by/2.0/
  // Flickr URL: https://www.flickr.com/photos/rocketboom/2816811574/in/photolist-5hUTWN-5HJ2V5-53EbFZ-8QWudc-86EPJy-ePDzyY-86BCTF-5FcxhC-4JZfZV-d5K46S-55wHhT-s3nq97-8HxkqY-bxU5QJ-5FDH2i-d8KrFb-5hQruV-e6LpUo-gcuAeT-5hQsSK-5hQwD6-8Dk9jd-5hUMyQ-5hQv4R-5hQr8t-7nNYtz-PzrQA-dWh5Xn-dNb5PH-btwu4L-6r6gAX-atTJT2-5Fcw1N-5hQrRB-bw4byT-aEJ8Rk-7EezQd-dSA683-5FHYK3-82btr8-6qDfwp-dNbzmv-rYzdjs-7LE4up-bv9Tw6-8Hucqv-prqAx9-4m7SNM-dNfTxb-dNbHH4
  // Modifications: Rotated slightly to right and cropped
  background-image: url(asset-path('Desert-Background.jpg'));
  background-color: rgb(199, 169, 148);
  background-repeat: no-repeat;
  background-size: cover;

  & > div {
    background-color: rgba(255, 255, 255, 0);
  }
}

/**********************************************/
/* Navbar menu collapse button */

@media (max-width: 350px) {
  .navbar-toggle {
    margin-right: 0;
  }
}

/**********************************************/
/* Navbar brand (Scott Shane name and short description) */

.navbar-default .navbar-brand {
  color: #dddddd;
}

a.navbar-brand {
  padding-left: 5px;
  padding-right: 0;
  height: inherit;
  line-height: 1em;
  line-height: initial;
  font-size: 1em;

  span {
    font-size: 2.2em;
  }

  small {
    vertical-align: top;
    font-size: 1em;
  }
}

.navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
  color: #333;
}


/**********************************************/
/* Nav links */
@media (max-width: ($grid-float-breakpoint - 1)) {
  .navbar-collapse {
    clear: left;
  }

  .navbar-nav > li {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.1em;

    &.featured {
      font-size: 2em;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav {
    & > li {
      float: none;
      display: inline-block;
      line-height: initial;

      padding-top: 15px;

      &.featured {
        text-align: right;
        display: block;
        font-size: 3em;

        a {
          padding: 0;
        }
      }
    }
  }
}

/**********************************************/
/* Navbar height */
@media(min-width: $grid-float-breakpoint) {
  .navbar, .navbar .nav {
    min-height: 160px;
  }
}

/**********************************************/
/* Twitter */

.social-icons {
  a {
    height: 54px;

    @media(max-width: $grid-float-breakpoint) {
      padding-bottom: 5px !important;
      padding-top: 5px !important;
    }

    img {
      height: 48px;
      width: 48px;
    }
  }
}

/**********************************************/
/* Other */

.navbar {
  margin-bottom: 1.5em;
}

.container > .navbar-collapse
{
  margin-left:0px;
  margin-right:0px;
}
